<div class="bg-neutral-200/50 shadow-md rounded-lg p-6 w-full border-2 border-gray-300/50 my-4">

    <div class="flex justify-between items-center mb-4">
        <h2 class="text-lg font-semibold text-neutral-800">Orden #{{ order?.id }}</h2>
        <span class="text-sm text-neutral-600">{{ order?.created_At | date : 'shortDate' }}</span>
    </div>

    <div class="mb-4">
        <p class="text-sm text-neutral-700"><span class="font-semibold">Estado:</span> {{ order?.status || 'Pendiente' }}</p>
        <p class="text-sm text-neutral-700"><span class="font-semibold">Total:</span> ${{ order?.total_Price | number : '1.2-2' }}</p>
    </div>

    <!--TODO: esta seccion la separaría en otro componente en el cual se se ven los detalles de elemento para solo cargar lo que quiera ver el usuario -->
    <div class="space-y-2">
        <div *ngFor="let product of products">
            <order-cart-item [product]="product" [orderItem]="findOrder(product.id)"></order-cart-item>
        </div>
    </div>
</div>
